<h1>Courses</h1>

<div id="courses" class="container" >
  <%= link_to "New course", new_course_path, class:"btn btn-success"  %>
    <% @courses.each do |course| %>
    <div class="p-3 mb-2 bg-light border border-5 ">
      <%= render course %>
      <p>
        <%= link_to "Show this course", course , class:"btn btn-secondary " %>
      </p>
      </div>
    <% end %>
  </div>
</div>